/data/*
/__pycache__
/model2/*
/model/*
/explainability/*
/data_def.npy
/labels.npy
/labels_def.npy
/utils/prove.ipynb
/adv.ipynb
/explain.csv
/utils/read.py
/uncertainty.npy
/uncertainty_2.npy
/wrong.csv
/pred.csv
/explain.csv
/explainability_train/*
/data_train_def.pt
/data_test_def.pt
/prepare_data_train_pytorch.py
/pred1.csv
/pred.csv
/wrong.csv
/wrong1.csv
/uncertainty.py
/data_train_def_15000.pt
/labels_train_def_15000.pt
/data_test_def.pt
/labels_test_def.pt